doctype html
html(lang='en')
  head
    title While in school - Portfolio
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.css')
    script(src='/jquery/jquery.js')
    script(src='mixitup/jquery.mixitup.min.js')
    script( src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
  body
    block content

